version: '3.8'

services:
  frontend:
    build: ../frontend
    ports:
      - "3000:3000"
    volumes:
      - ../frontend:/app
      - /app/node_modules

  server:
    build: ./server
    ports:
      - "3001:3001"
    volumes:
      - ./server:/app
      - ./fabric-samples:/fabric-samples
    networks:
      - fabric_test

networks:
  fabric_test:
    name: fabric_test
    external: true
